.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff3c00, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
}

.navbar-brand:hover {
  color: #FF867C;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0; 
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  color:#00BCD4
}

.nav-link:hover {
color: #FF867C;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
    
  }
  

  .nav-link {
    padding: 0.5rem;
    
  }
}